<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="../css/SearchModule.css"></link>
	<script src="../library/angular.js"></script>
	<script src="../angularscripts/SearchModule.js"></script>
</head>
<body data-ng-app="SearchModule">
	<div data-ng-controller="SearchController">
		<ul>
				<div class="search-box">
					<input type="text" data-ng-model="Search.Name" ></input>
					<img src="../image/search-icon.png" class="search-image"></img>
				</div>
				<div class="grid-table">
					<li data-ng-repeat="player in playersName | filter:Search" class="grid-style">
						<div class="tdata">
							<a>{{player.Name}}</a>
						</div>
						<div class="tdata">
							<a>{{player.Profession}}</a>
						</div>
					</li>
				</div>
		</ul>

	</div>
</body>
</html>
